html {
  font-family: "Unica One", sans-serif;
}

h1 {
  color: #fff;
  left: 50px;
  bottom: 280px;
  max-width: 180px;
  opacity: 0;
  animation: fade-in .5s .5s ease-in forwards;
}

#rainbow {
stroke-dasharray: 1917px;
stroke-dashoffset: 1917px;
animation: rainbow 2s linear forwards;
}

@keyframes rainbow {
  0% {
    stroke-dashoffset: 1917;
  }

  100% {
    stroke-dashoffset: 0;
  }

}

.rainbow-violet {
  stroke-dasharray: 1917px;
  stroke-dashoffset: 1917px;
}

.rainbow-indigo {
  stroke-dasharray: 1812px;
  stroke-dashoffset: 1812px;
}

.rainbow-blue {
  stroke-dasharray: 1705px;
  stroke-dashoffset: 1705px;
}

.rainbow-green {
  stroke-dasharray: 1596px;
  stroke-dashoffset: 1596px;
}

.rainbow-yellow{
  stroke-dasharray: 1483px;
  stroke-dashoffset: 1483px;
}

.rainbow-orange {
  stroke-dasharray: 1366px;
  stroke-dashoffset: 1366px;
}

.rainbow-red {
  stroke-dasharray: 1243px;
  stroke-dashoffset: 1243px;
}

#narwhal-body {
stroke-dasharray: 1982px;
stroke-dashoffset: 1982px;
animation: narwhal 1s linear forwards;
}

@keyframes narwhal {
  0% {
    stroke-dashoffset: 1982px;
  }

  100% {
    stroke-dashoffset: 0;
  }

}

#narwhal-eye {
  opacity: 0;
  animation: fade-in .5s .5s ease-in forwards;
}

@keyframes fade-in {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}
