html {
  font-family: "Unica One", sans-serif;
}

h1 {
  color: #fff;
  left: 50px;
  bottom: 280px;
  max-width: 180px;
  opacity: 0;
  animation: fade-in .5s .5s ease-in forwards;
}

#rainbow-violet {
  stroke-dasharray: 1917px;
  stroke-dashoffset: 1917px;
  animation: draw-violet 1s .5s linear forwards;
}

@keyframes draw-violet {

  0% {
    stroke-dashoffset: 1917px;
  }

  100% {
    stroke-dashoffset: 0;
  }

}

#rainbow-indigo {
  stroke-dasharray: 1812px;
  stroke-dashoffset: 1812px;
  animation: draw-indigo 1s .5s linear forwards;
}

@keyframes draw-indigo {

  0% {
    stroke-dashoffset: 1812px;
  }

  100% {
    stroke-dashoffset: 0;
  }

}

#rainbow-blue {
  stroke-dasharray: 1705px;
  stroke-dashoffset: 1705px;
  animation: draw-blue 1s .5s linear forwards;
}

@keyframes draw-blue {

  0% {
    stroke-dashoffset: 1705px;
  }

  100% {
    stroke-dashoffset: 0;
  }

}

#rainbow-green {
  stroke-dasharray: 1596px;
  stroke-dashoffset: 1596px;
  animation: draw-green 1s .5s linear forwards;
}

@keyframes draw-green {

  0% {
    stroke-dashoffset: 1596px;
  }

  100% {
    stroke-dashoffset: 0;
  }

}

#rainbow-yellow {
  stroke-dasharray: 1483px;
  stroke-dashoffset: 1483px;
  animation: draw-yellow 1s .5s linear forwards;
}

@keyframes draw-yellow {

  0% {
    stroke-dashoffset: 1483px;
  }

  100% {
    stroke-dashoffset: 0;
  }

}

#rainbow-orange {
  stroke-dasharray: 1366px;
  stroke-dashoffset: 1366px;
  animation: draw-orange 1s .5s linear forwards;
}

@keyframes draw-orange {

  0% {
    stroke-dashoffset: 1366px;
  }

  100% {
    stroke-dashoffset: 0;
  }

}

#rainbow-red {
  stroke-dasharray: 1243px;
  stroke-dashoffset: 1243px;
  animation: draw-red 1s .5s linear forwards;
}

@keyframes draw-red {

  0% {
    stroke-dashoffset: 1243px;
  }

  100% {
    stroke-dashoffset: 0;
  }

}

#narwhal-body {
  stroke-dasharray: 1982px;
  stroke-dashoffset: 1982px;
  animation: narwhal 1s linear forwards;
}

@keyframes narwhal {

  0% {
    stroke-dashoffset: 1982px;
  }

  100% {
    stroke-dashoffset: 0;
  }

}

#narwhal-eye {
  opacity: 0;
  animation: fade-in .5s .5s ease-in forwards;
}

@keyframes fade-in {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}
